.select2-results svg,
.acf_svg__icon {
    width:40px;
    height:40px;
    margin-right: 10px;
    vertical-align: middle;
}

.select2-selection svg,
.acf_svg__icon.small {
    width: 25px;
    height: 19px;
    margin-right: 10px;
    margin-top: 3px;
    float: left;
    size: 2px;
}

.acf_svg__span {
    font-size: 1.2em;
}